name: API breaking changes

on:
  workflow_call:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-api-breakage
  cancel-in-progress: true

jobs:

  check-api-breakage:
    name: Check API breakage
    runs-on: ubuntu-latest

    container:
      image: swift:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Install curl
        run: |
          apt-get update -y
          apt-get install -y curl

      - name: Mark repo as safe for Git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Run check API breakage
        run: |
          curl -s https://raw.githubusercontent.com/BinaryBirds/github-workflows/refs/heads/feature/breakage-workflow/scripts/check-api-breakage.sh | bash